# Requirements for the demo notebooks
# Useful for MyBinder configuration
pandas
numpy
datascience
folium
matplotlib
requests
branca
geopandas
shapely
sklearn
scipy
seaborn
plotly
statsmodels
spacy
wordcloud
textblob
geojson
nltk